{% extends 'common/base.html' %}
{% load staticfiles %}

{% block head_title %}Choose Grade{% endblock %}

{% block main_content %}

<h1><center>Click On Your Reading Group</center></h1>
<br>
	{% for grade in grades %}
		<a href="{% url 'units' grade.level %}">Level {{ grade.level }}
		  <br><img src="{% static grade.image_path %}"
		        height="200" width="200" alt="Level {{ grade.level }}"
		      />

		  &nbsp; &nbsp; &nbsp; 
		</a>url here: {% static 'reader/{{ grade.level }}.jpg' %} 

	{% endfor %}


{% endblock %}


	
