{% extends 'common/base.html' %}

{% block head_title %}Cats: Purring Pets{% endblock %}

{% block main_content %}

<h1>Cats: Purring Pets</h1>
	<p><a href="{% url 'sample' %}">Cats are good pets. Like all pets, they need special care. Cats need food and water every day. Cats are meat eaters. They must have meat every day. Give your cat food made from beef, chicken, or fish. Cats do not need to drink milk. Give your cat fresh water.</a></p>
	<p>Cats need a safe place to live. Cats that live indoors are safer than cats that live outdoors. If you let your cat outside, be sure it is in the daytime. At night, wild animals can attack a cat.</p>
	<p>Cats use litter boxes. You need to keep your eat's litter box clean. It must be cleaned at least once a day. Cats like clean litter boxes.</p>
	<p>Play with your cat every day. Playing keeps them from getting bored. It is also good exercise. Remember to take your cat to the vet for check-ups. A healthy cat will have a long life.</p>
<br>


{% endblock %}


