{% extends 'common/base.html' %}
{% load staticfiles bootstrap3 %}

{% block head_title %} Level {{ grade_level }} Units {% endblock %}

{% block main_content %}

  {% if user.is_staff %}Staff  <br />
  {% else%}
  NOT STAFF
{% endif %}
  <h1>Level {{ grade_level }} Units</h1>
  <h3>Click on a unit name to see its readings</h3>
  <h4>Click on a reading title to see its paragraphs</h4>
  <br> 
    <div class="panel-group" id="accordion">
        {% for unit in units %}			
          <div class="panel panel-default">
            <div id="accordion-head" class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ unit.id }}">
                    {{ unit.name }}
                </a>
              </h4>
            </div>
              <div id="collapse_{{ unit.id }}" class="panel-collapse collapse">
                <div id="accordion-body" class="panel-body">
                    <div class="panel-group" id="accordion2">
                        {% for reading in unit.reading_set.all %}
                          <div class="panel panel-default">
                            <div id="accordion2-head" class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2_{{ reading.id }}">
                                    {{ reading.name }}
                                    <br>
                                </a>
                              </h4>
                            </div>
                              <div id="collapse2_{{ reading.id }}" class="panel-collapse collapse">
                                <div id="accordion2-body" class="panel-body">                                 
                                  {% for paragraph in reading.paragraph_set.all %}
                                      <a href="#paragraphModal-{{ paragraph.pk }}" class="paragraph-link" data-toggle="modal">  {{ paragraph }}</a></li>
                                      <br>
                                      <!-- Modal -->
                                      <div class="modal fade" id="paragraphModal-{{ paragraph.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog custom-class">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                              <h4 class="modal-title" id="myModalLabel"> 
                                                {% load staticfiles %}
                                                <img src="{% static 'reader/0.jpg' %}" class="modal-bannerpic" 
                                                  height="60" width="240" alt="picture slug for future graphics" title="SLUG"/> 
                                                {{ reading.name }}, Paragraph {{ paragraph.id }}
                                              </h4>
                                            </div>
                                            <div class="modal-body">
                                              <p id="readback-text">{{ paragraph.text }}</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Modal Window Code -->
                                  {% endfor %}
                                </div>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
              </div>
          </div>
        {% endfor %}
        {% if user.is_staff %}
          <FORM ACTION="reader/cgitest.py">
            UNIT NAME: <INPUT name="new-unit">
            <INPUT TYPE=SUBMIT VALUE="Submit">
          </FORM>
        {% endif %}

    </div>

{% endblock %}
